# Ignore everything by default
*

# Only allow these specific files
!.gitignore
!dist/
!dist/sh-product-manager.css
!dist/squarehero-product-manager.js
!dist/sh-helper.min.js
!dist/sh-logo.png
!dist/sh-logo.svg
